@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
/* sass/lib-sass.scss - line 7 */
*, body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* 
sass/lib-sass.scss - line 21
Parágrafo
*/
p {
  font-size: 0.85em;
  font-weight: 400;
}

/* 
sass/lib-sass.scss - line 32
Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
*/
img[alt=""],
img:not([alt]) {
  border: 3px dashed #FF0000;
}

/* sass/lib-sass.scss - line 38 */
.buttom {
  width: 15%;
  height: 45px;
  border: 0 0 0 0;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 9px 9px 9px 9px;
  border-style: outset;
  flex: 0 1 auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 1.05em;
  font-weight: 900;
  text-align: center;
  list-style: none;
  text-decoration: none;
  line-height: 2;
}

/* sass/lib-sass.scss - line 64 and 71 */
.buttom-padrao {
  background: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
  border-left: 9px solid #ced4da;
  border-right: 9px solid #ced4da;
}
.buttom-padrao:hover, .buttom-padrao:focus {
  color: #000000;
  background: #f2f2f2;
  border-radius: 9px 9px 9px 9px;
  border-color: #f2f2f2;
  border-left: 9px solid #ced4da;
  border-right: 9px solid #ced4da;
  -webkit-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

/* sass/lib-sass.scss - line 83 and 90*/
.buttom-atencao {
  background: #FF0000;
  color: #000000;
  border-color: #FF0000;
  border-left: 9px solid #c40000;
  border-right: 9px solid #c40000;
}
.buttom-atencao:hover, .buttom-atencao:focus {
  color: #000000;
  background: #ff0c0c;
  border-radius: 9px 9px 9px 9px;
  border-color: #ff0c0c;
  border-left: 9px solid #c40000;
  border-right: 9px solid #c40000;
  -webkit-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

/* sass/lib-sass.scss - line 102 and 109 */
.buttom-sucesso {
  background: #00af0b;
  color: #000000;
  border-color: #00af0b;
  border-left: 9px solid #007507;
  border-right: 9px solid #007507;
}
.buttom-sucesso:hover, .buttom-sucesso:focus {
  color: #000000;
  background: #00c40c;
  border-radius: 9px 9px 9px 9px;
  border-color: #00c40c;
  border-left: 9px solid #007507;
  border-right: 9px solid #007507;
  -webkit-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

/* sass/lib-sass.scss - line 121 and 128 */
.buttom-info {
  background: #007bff;
  color: #000000;
  border-color: #007bff;
  border-left: 9px solid #002656;
  border-right: 9px solid #002656;
}
.buttom-info:hover, .buttom-info:focus {
  color: #000000;
  background: #034fb2;
  border-radius: 9px 9px 9px 9px;
  border-color: #034fb2;
  border-left: 9px solid #002656;
  border-right: 9px solid #002656;
  -webkit-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

/* sass/lib-sass.scss - line 139 */
.buttom-block {
  width: 100%;
  display: block;
}

.buttom-center {
  margin: 0 auto 0 auto;
}

/* 
sass/lib-sass.scss - line 153
Container
*/
.content {
  width: 100%;
  height: auto;
  padding: 0 0 0 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* 
sass/lib-sass.scss - line 170
Card 
*/
.card {
  width: 22%;
  height: auto;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 0 1 auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 1%;
  margin-left: 1.7%;
}

/* 
sass/lib-sass.scss - line 186
Card Hover e Focus 
*/
.card:hover, .card:focus {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 
sass/lib-sass.scss - line 196
Card-IMG 
*/
.card-img {
  width: 100%;
  vertical-align: center;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* 
sass/lib-sass.scss - line 207
Card-title 
*/
.card-title {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

/*
sass/lib-sass.scss - line 227
Card-Subtitle
*/
.card-subtitle {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #969696;
}

/* 
sass/lib-sass.scss - line 249
Card-text 
*/
.card-text {
  font-size: 1em;
  font-weight: 400;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: justify;
}

/*# sourceMappingURL=lib-sass.css.map */
