@import '_font.scss';

// Fontes
$lato: 'Lato', sans-serif; // espessura: 400,700,900
$roboto: 'Roboto', sans-serif; // espessura: 400,500,700,900
$opensans: 'Open Sans', sans-serif; // espessura: 400,600,700,800

// Tamanhos de Fontes
$size-padrao: 20px;
$size-em: 1.25em;
$center: center;
$justify: justify;


// Variaveis de Card
$card: card;
$color-subtitle-card: #969696;
$card-padrao: #000000;
$card-hover: #FF0000; 

// Classes
$content: content;
$buttom: buttom;

// flex
$flex: flex;
$flex-center: center;
$flex-start: flex-start;
$flex-end: flex-end;
$flex-baseline: baseline;
$flex-stretch: stretch;

// Colors
$branco: #FFFFFF;
$gelo-hover: #f2f2f2;
$vermelho: #FF0000;
$vermelho-hover: #ff0c0c;
$azul: #004196;
$azul-hover: #034fb2;
$amarelo: #f4c441;
$verde: #00af0b;
$verde-hover: #00c40c;
$preto: #000000;

// buttom default
$width-padrao: 100% !default;

$block: block;

$pointer: pointer;

