@import '_font.scss';

// Fontes
$lato: 'Lato', sans-serif !default; // espessura: 400,700,900
$roboto: 'Roboto', sans-serif !default; // espessura: 400,500,700,900
$opensans: 'Open Sans', sans-serif !default; // espessura: 400,600,700,800

// Tamanhos de Fontes
$size-padrao: 20px !default;
$size-em: 1.25em !default;
$center: center !default;
$justify: justify !default;


// Variaveis de Card
$card: card !default;
$color-subtitle-card: #969696 !default;
$card-padrao: #000000 !default;
$card-hover: #FF0000 !default; 

// Classes
$content: content !default;
$buttom: buttom !default;

// flex
$flex: flex;
$flex-center: center !default;
$flex-start: flex-start !default;
$flex-end: flex-end !default;
$flex-baseline: baseline !default;
$flex-stretch: stretch !default;

// Colors
$branco: #FFFFFF !default;
$gelo-hover: #f2f2f2 !default;
$border-cinza: #ced4da !default;
$vermelho: #FF0000 !default;
$vermelho-hover: #ff0c0c !default;
$border-vermelho: #c40000 !default;
$azul: #007bff !default !default;
$azul-hover: #034fb2 !default;
$border-azul: #002656 !default;
$amarelo: #f4c441 !default;
$verde: #00af0b !default;
$verde-hover: #00c40c !default;
$border-verde: #007507 !default;
$preto: #000000 !default;

// buttom default
$width-padrao: 100% !default;

$block: block;

$pointer: pointer;

