@import '_var.scss';
@import '_mixins.scss';

// comando pra compilar o sass: sass --watch sass:css --style expanded

/* sass/lib-sass.scss - line 7 */
*,body{
	font: {
		family: $lato; // $lato, $roboto, $opensans
		size: $size-padrao;
		weight: 700;
	}
	padding:0;
	margin:0;
}

/* 
sass/lib-sass.scss - line 21
Parágrafo
*/
p{
	font: {
		size: $size-em - 0.4;
		weight: 400;
	}
}

/* 
sass/lib-sass.scss - line 32
Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
*/
img[alt=""],
img:not([alt]){
	border: 3px dashed #FF0000;
}

/* sass/lib-sass.scss - line 38 */
.#{$buttom}{
	width: 15%;
	height: 45px;
	border: 0 0 0 0;
	cursor: $pointer;

	margin: {
		top: 2%;
		left: 5%;
		right: 5%;
		bottom: 5%;
	}
	
	border-radius: 9px 9px 9px 9px;
	border-style: outset;

	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	
	font: {
		size: $size-em - 0.2;
		weight: 900;
	}

	text: {
		align: $center;
	}

	list: {
		style: none;
	}

	text: {
		decoration: none;
	}

	line: {
		height: 2;
	}
}

/* sass/lib-sass.scss - line 64 and 71 */
.#{$buttom}-padrao{
	background: $branco;
	color: $preto;
	border-color: $branco;
	border-left: 9px solid $border-cinza;
	border-right: 9px solid $border-cinza;
	
	&:hover, &:focus {
		color: $preto;
		background: $gelo-hover;
		border-radius: 9px 9px 9px 9px;
		border-color: $gelo-hover;
		border-left: 9px solid $border-cinza;
		border-right: 9px solid $border-cinza;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

/* sass/lib-sass.scss - line 83 and 90*/
.#{$buttom}-atencao{
	background: $vermelho;
	color: $preto;
	border-color: $vermelho;
	border-left: 9px solid $border-vermelho;
	border-right: 9px solid $border-vermelho;
	
	&:hover, &:focus {
		color: $preto;
		background: $vermelho-hover;
		border-radius: 9px 9px 9px 9px;
		border-color: $vermelho-hover;
		border-left: 9px solid $border-vermelho;
		border-right: 9px solid $border-vermelho;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

/* sass/lib-sass.scss - line 102 and 109 */
.#{$buttom}-sucesso{
	background: $verde;
	color: $preto;
	border-color: $verde;
	border-left: 9px solid $border-verde;
	border-right: 9px solid $border-verde;
	
	&:hover,&:focus {
		color: $preto;
		background: $verde-hover;
		border-radius: 9px 9px 9px 9px;
		border-color: $verde-hover;
		border-left: 9px solid $border-verde;
		border-right: 9px solid $border-verde;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

/* sass/lib-sass.scss - line 121 and 128 */
.#{$buttom}-info {
	background: $azul;
	color: $preto;
	border-color: $azul;
	border-left: 9px solid $border-azul;
	border-right: 9px solid $border-azul;
	
	&:hover, &:focus {
		color: $preto;
		background: $azul-hover;
		border-radius: 9px 9px 9px 9px;
		border-color: $azul-hover;
		border-left: 9px solid $border-azul;
		border-right: 9px solid $border-azul;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

/* sass/lib-sass.scss - line 139 */
.#{buttom}-block {
	width: $width-padrao;
	display: $block;
}

.#{buttom}-center {	
	margin: 0 auto 0 auto;
}

/* 
sass/lib-sass.scss - line 153
Container
*/
.#{$content}{
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: $flex-center;
	align-items: $flex-center; // $flex-center, $flex-start, $flex-end, $flex-baseline, $flex-stretch
	margin: 0;
}

/* 
sass/lib-sass.scss - line 170
Card 
*/
.#{$card}{
	width: 22%;
	height: auto;
	@include box-shadow(4px 4px 8px 0 rgba(0,0,0,0.2));
	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	margin: 1%;
	margin-left: 1.7%;
}

/* 
sass/lib-sass.scss - line 186
Card Hover e Focus 
*/
.#{$card}{
	&:hover,&:focus{
		@include box-shadow(0 8px 16px 0 rgba(0,0,0,0.2));
	}
}

/* 
sass/lib-sass.scss - line 196
Card-IMG 
*/
.#{$card}-img{
	width: 100%;
	vertical-align: $center;
	@include box-shadow(0 4px 4px 0 rgba(0,0,0,0.2));

}

/* 
sass/lib-sass.scss - line 207
Card-title 
*/
.#{$card}-title{
	font: {
		size: $size-em - 0.25 + 0.5;
		weight: 900;
	}

	margin: {
		top: 2%;
		bottom: 2%;
	}

	text: {
		align: $center;
	}
}

/*
sass/lib-sass.scss - line 227
Card-Subtitle
*/
.#{$card}-subtitle{
	font: {
		size: $size-em - 0.25;
		weight: 400;
	}

	text: {
		align: $center;
	}

	margin: {
		top: 2%;
		bottom: 2%;
	}

	color: $color-subtitle-card;
}

/* 
sass/lib-sass.scss - line 249
Card-text 
*/
.#{$card}-text{
	font: {
		size: $size-em - 0.25;
		weight: 400;
	}

	margin: {
		top: 3%;
		left: 4%;
		right: 4%;
		bottom: 5%;
	}

	text: {
		align: $justify;
	}
}