@import '_var.scss';
@import '_mixins.scss';

@media screen and (min-width: 600px) and (max-width: 900px){
	/* sass/lib-sass-mobile.scss - line 6 */
	*,body{
		font: {
			family: $lato; // $lato, $roboto, $opensans
			size: $size-padrao;
			weight: 700;
		}
		padding:0;
		margin:0;
	}

	/* 
	sass/lib-sass-mobile.scss - line  18
	Parágrafo
	*/
	p{
		font: {
			size: $size-em - 0.4;
			weight: 400;
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 31
	Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
	*/
	img[alt=""],
	img:not([alt]){
		border: 3px dashed #FF0000;
	}

	/* 
	sass/lib-sass-mobile.scss - line 40
	Container
	*/
	.#{$content}{
		width: 100%;
		height: auto;
		padding: 16px 16px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: $flex-center;
		align-items: $flex-center; // $flex-center, $flex-start, $flex-end, $flex-baseline, $flex-stretch
		margin: 5%;
	}
	
	/* sass/lib-sass-mobile.scss - line 53 */
	.#{$buttom}{
		width: 20%;
		height: 45px;
		border: 0 0 0 0;
		cursor: $pointer;

		margin: {
			top: 2%;
			left: 5%;
			right: 5%;
			bottom: 5%;
		}
	
		border-radius: 9px 9px 9px 9px;
		border-style: outset;

		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;

		text: {
			align: $center;
		}

		list: {
			style: none;
		}

		text: {
			decoration: none;
		}

		line: {
			height: 2;
		}

		font: {
			size: $size-em - 0.3;
			weight: 400;
		}

	}
	
	/* sass/lib-sass-mobile.scss - line 79 */
	.#{$buttom}-padrao{
		background: $branco;
		color: $preto;
		border-color: $branco;
		border-left: 9px solid $border-cinza;
		border-right: 9px solid $border-cinza;

		&:hover, &:focus {
			color: $preto;
			background: $gelo-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $gelo-hover;
			border-left: 9px solid $border-cinza;
			border-right: 9px solid $border-cinza;
			outline: 0;
			box-shadow: 0 0 0 .2em rgba(242,242,245, 0.8);


			list: {
				style: none;
			}

			text: {
				decoration: none;
			}
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 98 */
	.#{$buttom}-atencao{
		background: $vermelho;
		color: $preto;
		border-color: $vermelho;
		border-left: 9px solid $border-vermelho;
		border-right: 9px solid $border-vermelho;

		&:hover, &:focus {
			color: $preto;
			background: $vermelho-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $vermelho-hover;
			border-left: 9px solid $border-vermelho;
			border-right: 9px solid $border-vermelho;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));

			list: {
				style: none;
			}

			text: {
				decoration: none;
			}
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 117 */
	.#{$buttom}-sucesso{
		background: $verde;
		color: $preto;
		border-color: $verde;
		border-left: 9px solid $border-verde;
		border-right: 9px solid $border-verde;

		&:hover,&:focus {
			color: $preto;
			background: $verde-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $verde-hover;
			border-left: 9px solid $border-verde;
			border-right: 9px solid $border-verde;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));

			list: {
				style: none;
			}

			text: {
				decoration: none;
			}
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 136 */
	.#{$buttom}-info {
		background: $azul;
		color: $preto;
		border-color: $azul;
		border-left: 9px solid $border-azul;
		border-right: 9px solid $border-azul;

		&:hover, &:focus {
			color: $preto;
			background: $azul-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $azul-hover;
			border-left: 9px solid $border-azul;
			border-right: 9px solid $border-azul;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));

			list: {
				style: none;
			}

			text: {
				decoration: none;
			}
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 155 */
	.#{buttom}-block {
		width: $width-padrao;
		display: block;
	}

	/* 
	sass/lib-sass-mobile.scss - line 164
	Card 
	*/
	.#{$card}{
		width: 22%;
		height: auto;
		@include box-shadow(4px 4px 8px 0 rgba(0,0,0,0.2));
		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
		margin: 5%;
	}

	/* 
	sass/lib-sass-mobile.scss - line 179
	Card Hover e Focus 
	*/
	.#{$card}{
		&:hover,&:focus{
			@include box-shadow(0 8px 16px 0 rgba(0,0,0,0.2));
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 189
	Card-IMG 
	*/
	.#{$card}-img{
		width: 100%;
		vertical-align: $center;
		@include box-shadow(0 4px 4px 0 rgba(0,0,0,0.2));
	}

	/* 
	sass/lib-sass-mobile.scss - line 199
	Card-title 
	*/
	.#{$card}-title{
		font: {
			size: $size-em + 0.5;
			weight: 900;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		text: {
			align: $center;
		}
	}

	/*
	sass/lib-sass-mobile.scss - line 219
	Card-Subtitle
	*/
	.#{$card}-subtitle{
		font: {
			size: $size-em - 0.25;
			weight: 400;
		}

		text: {
			align: $center;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		color: $color-subtitle-card;
	}

	/* 
	sass/lib-sass-mobile.scss - line 241
	Card-text 
	*/
	.#{$card}-text{
		font: {
			size: $size-em - 0.4;
			weight: 400;
		}

		margin: {
			top: 3%;
			left: 4%;
			right: 4%;
			bottom: 5%;
		}

		text: {
			align: $justify;
		}
	}
}

@media screen and (max-device-width: 320px){
	/* sass/lib-sass-mobile.scss - line  262*/
	*,body{
		font: {
			family: $lato; // $lato, $roboto, $opensans
			size: $size-padrao;
			weight: 700;
		}
		padding:0;
		margin:0;
	}

	/* 
	sass/lib-sass-mobile.scss - line 277
	Parágrafo
	*/
	p{
		font: {
			size: $size-em - 0.4;
			weight: 400;
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 287
	Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
	*/
	img[alt=""],
	img:not([alt]){
		border: 3px dashed #FF0000;
	}

	/* 
	sass/lib-sass-mobile.scss - line 296
	Container
	*/
	.#{$content}{
		width: 100%;
		height: auto;
		padding: 16px 16px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: $flex-center;
		align-items: $flex-center; // $flex-center, $flex-start, $flex-end, $flex-baseline, $flex-stretch
		margin: 2%;
	}
	
	/* sass/lib-sass-mobile.scss - line 309 */
	.#{$buttom}{
		width: 20%;
		height: 45px;
		border: 0 0 0 0;
		cursor: $pointer;

		margin: {
			top: 2%;
			left: 5%;
			right: 5%;
			bottom: 5%;
		}
	
		border-radius: 9px 9px 9px 9px;
		border-style: outset;

		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;

		text: {
			align: $center;
		}

		list: {
			style: none;
		}

		text: {
			decoration: none;
		}

		line: {
			height: 2;
		}

		font: {
			size: $size-em - 0.5;
			weight: 400;
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 335 */
	.#{$buttom}-padrao{
		background: $branco;
		color: $preto;
		border-color: $branco;
		border-left: 9px solid $border-cinza;
		border-right: 9px solid $border-cinza;

		&:hover, &:focus {
			color: $preto;
			background: $gelo-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $gelo-hover;
			border-left: 9px solid $border-cinza;
			border-right: 9px solid $border-cinza;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 354 */
	.#{$buttom}-atencao{
		background: $vermelho;
		color: $preto;
		border-color: $vermelho;
		border-left: 9px solid $border-vermelho;
		border-right: 9px solid $border-vermelho;

		&:hover, &:focus {
			color: $preto;
			background: $vermelho-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $vermelho-hover;
			border-left: 9px solid $border-vermelho;
			border-right: 9px solid $border-vermelho;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 373 */
	.#{$buttom}-sucesso{
		background: $verde;
		color: $preto;
		border-color: $verde;
		border-left: 9px solid $border-verde;
		border-right: 9px solid $border-verde;

		&:hover,&:focus {
			color: $preto;
			background: $verde-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $verde-hover;
			border-left: 9px solid $border-verde;
			border-right: 9px solid $border-verde;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 392 */
	.#{$buttom}-info {
		background: $azul;
		color: $preto;
		border-color: $azul;
		border-left: 9px solid $border-azul;
		border-right: 9px solid $border-azul;

		&:hover, &:focus {
			color: $preto;
			background: $azul-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $azul-hover;
			border-left: 9px solid $border-azul;
			border-right: 9px solid $border-azul;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 411 */
	.#{buttom}-block {
		width: $width-padrao;
		height: 50px;
		display: block;
	}
	
	/* sass/lib-sass-mobile.scss - line 417 */
	.#{buttom}-center {	
		margin: 0 auto 0 auto;
	}

	/* 
	sass/lib-sass-mobile.scss - line 426
	Card 
	*/
	.#{$card}{
		width: 32%;
		height: auto;
		@include box-shadow(0 4px 8px 0 rgba(0,0,0,0.2));
		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
		margin: 6% 8% 0 4%;
		vertical-align: $center;
		order: 5;
	}

	/* 
	sass/lib-sass-mobile.scss - line 440
	Card Hover e Focus 
	*/
	.#{$card}{
		&:hover,&:focus{
			@include box-shadow(0 8px 16px 0 rgba(0,0,0,0.2));
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 453
	Card-IMG 
	*/
	.#{$card}-img{
		width: 100%;
		vertical-align: $center;
		@include box-shadow(0 4px 4px 0 rgba(0,0,0,0.2));
	}

	/* 
	sass/lib-sass-mobile.scss - line 463
	Card-title 
	*/
	.#{$card}-title{
		font: {
			size: $size-em + 0.5;
			weight: 900;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		text: {
			align: $center;
		}
	}

	/*
	sass/lib-sass-mobile.scss - line 483
	Card-Subtitle
	*/
	.#{$card}-subtitle{
		font: {
			size: $size-em - 0.25;
			weight: 400;
		}

		text: {
			align: $center;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		color: $color-subtitle-card;
	}

	/* 
	sass/lib-sass-mobile.scss - line 505
	Card-text 
	*/
	.#{$card}-text{
		font: {
			size: $size-em - 0.35;
			weight: 400;
		}

		margin: {
			top: 3%;
			left: 4%;
			right: 4%;
			bottom: 5%;
		}

		text: {
			align: $justify;
		}
	}
}

@media screen and (max-device-width: 425px) {
	/* sass/lib-sass-mobile.scss - line 526 */
	*,body{
		font: {
			family: $lato; // $lato, $roboto, $opensans
			size: $size-padrao;
			weight: 700;
		}
		padding:0;
		margin:0;
	}

	/* 
	sass/lib-sass-mobile.scss - line 540 
	Parágrafo
	*/
	p{
		font: {
			size: $size-em - 0.4;
			weight: 400;
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 551
	Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
	*/
	img[alt=""],
	img:not([alt]){
		border: 3px dashed #FF0000;
	}

	/* 
	sass/lib-sass-mobile.scss - line 560
	Container
	*/
	.#{$content}{
		width: 100%;
		height: auto;
		padding: 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: $center;
		align-items: flex-start;
		margin: 0 0 0 0;
		padding: {
			top: 2%;
			bottom: 4%;
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 577 */
	.#{$buttom}{
		width: 28%;
		height: 75px;
		border: 0 0 0 0;
		cursor: $pointer;

		margin: {
			top: 2%;
			left: 5%;
			right: 5%;
			bottom: 5%;
		}
	
		border-radius: 9px 9px 9px 9px;

		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;

		font: {
			size: 2em;
			weight: 900;
		}

		border-radius: 9px 9px 9px 9px;
		border-style: outset;

		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;

		text: {
			align: $center;
		}

		list: {
			style: none;
		}

		text: {
			decoration: none;
		}

		line: {
			height: 1.8;
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 608 */
	.#{$buttom}-padrao{
		background: $branco;
		color: $preto;
		border-color: $branco;
		border-left: 9px solid $border-cinza;
		border-right: 9px solid $border-cinza;

		&:hover, &:focus {
			color: $preto;
			background: $gelo-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $gelo-hover;
			border-left: 9px solid $border-cinza;
			border-right: 9px solid $border-cinza;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 627 */
	.#{$buttom}-atencao{
		background: $vermelho;
		color: $preto;
		border-color: $vermelho;
		border-left: 9px solid $border-vermelho;
		border-right: 9px solid $border-vermelho;

		&:hover, &:focus {
			color: $preto;
			background: $vermelho-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $vermelho-hover;
			border-left: 9px solid $border-vermelho;
			border-right: 9px solid $border-vermelho;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 646 */
	.#{$buttom}-sucesso{
		background: $verde;
		color: $preto;
		border-color: $verde;
		border-left: 9px solid $border-verde;
		border-right: 9px solid $border-verde;

		&:hover,&:focus {
			color: $preto;
			background: $verde-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $verde-hover;
			border-left: 9px solid $border-verde;
			border-right: 9px solid $border-verde;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 665 */
	.#{$buttom}-info {
		background: $azul;
		color: $preto;
		border-color: $azul;
		border-left: 9px solid $border-azul;
		border-right: 9px solid $border-azul;

		&:hover, &:focus {
			color: $preto;
			background: $azul-hover;
			border-radius: 9px 9px 9px 9px;
			border-color: $azul-hover;
			border-left: 9px solid $border-azul;
			border-right: 9px solid $border-azul;
			@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
		}
	}
	
	/* sass/lib-sass-mobile.scss - line 684 */
	.#{buttom}-block {
		width: $width-padrao;
		height: 90px;
		display: block;
	}
	
	/* sass/lib-sass-mobile.scss - line 691 */
	.#{buttom}-center {	
		margin: 0 auto 0 auto;
	}

	/* 
	sass/lib-sass-mobile.scss - line 699
	Card 
	*/
	.#{$card}{
		width: 30%;
		height: auto;
		@include box-shadow(0 4px 8px 0 rgba(0,0,0,0.2));
		flex: 0 1 auto;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
		margin: 3% 3% 1% 1%;
		vertical-align: $center;
	}

	/* 
	sass/lib-sass-mobile.scss - line 715
	Card Hover e Focus 
	*/
	.#{$card}{
		&:hover,&:focus{
			@include box-shadow(0 8px 16px 0 rgba(0,0,0,0.2));
		}
	}

	/* 
	sass/lib-sass-mobile.scss - line 725
	Card-IMG 
	*/
	.#{$card}-img{
		width: 100%;
		vertical-align: $center;
		@include box-shadow(0 4px 4px 0 rgba(0,0,0,0.2));
	}

	/* 
	sass/lib-sass-mobile.scss - line 735
	Card-title 
	*/
	.#{$card}-title{
		font: {
			size: $size-em + 0.75;
			weight: 900;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		text: {
			align: $center;
		}
	}

	/*
	sass/lib-sass-mobile.scss - line 755
	Card-Subtitle
	*/
	.#{$card}-subtitle{
		font: {
			size: $size-em - 0.20;
			weight: 400;
		}

		text: {
			align: $center;
		}

		margin: {
			top: 2%;
			bottom: 2%;
		}

		color: $color-subtitle-card;
	}

	/* 
	sass/lib-sass-mobile.scss - line 777
	Card-text 
	*/
	.#{$card}-text{
		font: {
			size: $size-em - 0.15;
			weight: 400;
		}

		margin: {
			top: 3%;
			left: 4%;
			right: 4%;
			bottom: 5%;
		}

		text: {
			align: $justify;
		}
	}
}