@import '_var.scss';
@import '_mixins.scss';

// comando pra compilar o sass: sass --watch sass:css --style expanded

/* sass/style.scss - line  */
*,body{
	font: {
		family: $lato; // $lato, $roboto, $opensans
		size: $size-padrao;
		weight: 700;
	}
	padding:0;
	margin:0;
}

/* 
sass/style.scss - line  
Parágrafo
*/
p{
	font: {
		size: $size-em - 0.4;
		weight: 400;
	}
}

/* 
sass/style.scss - line 
Estilo para não esquecer de colocar o Alt na Imagem  - Lembre do ALT 
*/
img[alt=""],
img:not([alt]){
	border: 3px dashed #FF0000;
}

.#{$buttom}{
	width: 15%;
	height: 45px;
	border: 0 0 0 0;
	cursor: $pointer;

	margin: {
		top: 2%;
		left: 5%;
		right: 5%;
		bottom: 5%;
	}
	
	border-radius: 9px 0 9px 0;

	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;

	text: {
		align: $center;
	}
}

.#{$buttom}-white{
	background: $branco;
	color: $preto;
	border-color: $branco;

	&:hover, &:focus {
		color: $preto;
		background: $gelo-hover;
		border-radius: 0 9px 0 9px;
		border-color: $gelo-hover;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

.#{$buttom}-danger{
	background: $vermelho;
	color: $preto;
	border-color: $vermelho;

	&:hover, &:focus {
		color: $branco;
		background: $vermelho-hover;
		border-radius: 0 9px 0 9px;
		border-color: $vermelho-hover;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

.#{$buttom}-sucesso{
	background: $verde;
	color: $preto;
	border-color: $verde;

	&:hover,&:focus {
		color: $branco;
		background: $verde-hover;
		border-radius: 0 9px 0 9px;
		border-color: $verde-hover;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

.#{$buttom}-info {
	background: $azul;
	color: $preto;
	border-color: $azul;

	&:hover, &:focus {
		color: $branco;
		background: $azul-hover;
		border-radius: 0 9px 0 9px;
		border-color: $azul-hover;
		@include box-shadow(5px 6px 4px rgba(0,0,0,0.2));
	}
}

.#{buttom}-block {
	width: $width-padrao;
	display: block;
}

/* 
sass/style.scss - line 
Container
*/
.#{$content}{
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: $flex-start;
	align-items: $flex-center; // $flex-center, $flex-start, $flex-end, $flex-baseline, $flex-stretch
	margin: 0;
}

/* 
sass/style.scss - line 
Card 
*/
.#{$card}{
	width: 22%;
	height: auto;
	@include box-shadow(0 4px 8px 0 rgba(0,0,0,0.2));
	flex: 0 1 auto;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	margin: 1%;
	margin-left: 1.7%;
}

/* 
sass/style.scss - line 
Card Hover e Focus 
*/
.#{$card}{
	&:hover,&:focus{
		@include box-shadow(0 8px 16px 0 rgba(0,0,0,0.2));
	}
}

/* 
sass/style.scss - line 
Card-IMG 
*/
.#{$card}-img{
	width: 100%;
	vertical-align: $center;
	@include box-shadow(0 4px 4px 0 rgba(0,0,0,0.2));

}

/* 
sass/style.scss - line 
Card-title 
*/
.#{$card}-title{
	font: {
		size: $size-em - 0.25 + 0.5;
		weight: 900;
	}

	margin: {
		top: 2%;
		bottom: 2%;
	}

	text: {
		align: $center;
	}
}

/*
sass/style.scss - line 
Card-Subtitle
*/
.#{$card}-subtitle{
	font: {
		size: $size-em - 0.25;
		weight: 400;
	}

	text: {
		align: $center;
	}

	margin: {
		top: 2%;
		bottom: 2%;
	}

	color: $color-subtitle-card;
}

/* 
sass/style.scss - line 
Card-text 
*/
.#{$card}-text{
	font: {
		size: $size-em - 0.25;
		weight: 400;
	}

	margin: {
		top: 3%;
		left: 4%;
		right: 4%;
		bottom: 5%;
	}

	text: {
		align: $justify;
	}
}